@charset "utf-8";
.main {
    padding: 200px;
    align-items: center;
    background: #fff;
    max-width: 1250px;
    margin: auto;
}
.main #center_msg {
    color: #96be86;
    font-size: 5em;
    line-height: 0%;
    text-align: center;
}
/*.main_gray{
    padding: 200px;
    align-items: center;
    background: #a0a0a0;
    max-width: 1250px;
    margin: auto;
} */